* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;  
    max-width: 400px; 
    margin: 0 auto;  
  }
  
  header {
    position: relative;
    text-align: center;
    padding-top: 40px; /* Adjust this value as needed */
  }
  
  .item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* ToDO these break on certain widths */
  .titleText {
    position: absolute;
    width: 100%;
    top: 20%;
    font-family: 'Smythe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-right: 200px;
    padding-top: 100px;
  }
  
  .titleSlogan {
    position: absolute;
    width: 100%;
    top: 30%;
    font-family: 'Smythe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22.4216px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-right: 200px;
    padding-top: 100px;
  }
  

/* MENU STYLING */
.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .menu-inner {
    display: flex;
  }
  
  .left-section {
    margin-right: 10px;
  }
  
  .emoji {
    font-size: 24px;
    font-size: 60px;
    line-height: 115px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    opacity: 0.72;
  }
  
  .right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .menu-details {
    flex-grow: 1;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 5px;
    width: 43px;
    height: 17px;
    left: 147px;
    top: 241.2px;
    font-family: 'Smythe', sans-serif;
    font-size: 28px;
    line-height: 17px;
  }

  .ingredients{
    width: 358px;
    height: 24px;
    left: 147px;
    top: 267px;
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
  }

  .price{
    width: 19px;
    height: 24px;
    left: 146px;
    top: 299px;
    font-family: 'Smythe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  
  .add-to-order {
    width: 30px;
    height: 30px;
    left: 504px;
    top: 242px;
    border: 1.5px solid #DEDEDE;    
    color: #3C3C3C;
    border-radius: 50px;
    margin-top: 30px;
    background-color: white;
  }
  
  .menu-line {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
  }
  
/* Styles for your order */

h2{
    text-align: center;
    font-family: 'Smythe';
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    color: #000000;
}

#complete-order-btn{
    width: 508px;
    height: 60px;
    left: 46px;
    top: 1048px;
    background: #16DB99;
    border-radius: 3px;
    color: whitesmoke;
    border: none;
    font-size: 20px;
}

#order-list {
    list-style: none;
    margin-bottom: 50px;
}

.order-item{
    margin-bottom: 10px;
}

.item-name {
    width: 43px;
    height: 17px;
    left: 46px;
    top: 870px;
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    color: #000000;
}

.remove-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    margin-left: 3px;
    font-size: 12px;
    line-height: 17px;
    color: #BBBBBB;
    background: none;
}

.total-price {
    border-top: 1px solid black;
    width: 100%;
    height: 24px;
    font-family: 'Smythe', sans-serif;
    font-size: 28px;
    line-height: 24px;
    color: #0E0E0E;
    margin-top: 10px;
    padding-top: 20px; /* Add padding-top instead of margin-top */
    margin-bottom: 30px;
    text-align: center;
  }
  
 .item-price{
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    float: right;
    color: #0E0E0E;
  }


  /* Modal Styles */
  
  .modal-header{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .input-group {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3.88991px;
  }
  
  .input-group input[type="text"] {
    width: 100%;
    height: 40px; /* Adjust the height as desired */
    padding: 8px; /* Adjust the padding as desired */
    font-size: 16px; /* Adjust the font size as desired */
  }
  

  .pay-button{
    width: 100%;
    height: 50px;
    border-style: none;
    background: #16DB99;
    border-radius: 3.88991px;
    color: white;
  }


  /* Styles for mobile devices */

  @media only screen and (max-width: 600px) {
    body {
      display: block;
      height: auto;
      max-width: none;
      margin: 0;
    }
    
    .titleText {
      padding-right: 0;
      padding-top: 0;
    }
    
    .titleSlogan {
      padding-right: 0;
      padding-top: 0;
    }
    
    .menu {
      margin-top: 20px;
    }
    
    .item-name,
    .ingredients,
    .price,
    .add-to-order {
      width: auto;
      left: auto;
      top: auto;
    }
    
    #complete-order-btn {
      width: 100%;
    }
  }
  